@import url("https://fonts.googleapis.com/css?family=Assistant&display=swap");

@import url("https://fonts.googleapis.com/css?family=Noto+Sans+HK&display=swap");

body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: white;

  font-family: "Noto Sans HK";
  font-size: medium;
}

* {
  margin-left: 0;
}

/* head 1 part */
#header-black {
  font-family: "Noto Sans JP", sans-serif;
  background-color: #1f1d1dee;
  color: white;
  text-align: auto;
  font-size: 0.7em;
  width: 82%;
  border-left: #1f1d1dee;
  padding-left: -0.5em;
  border-style: solid;
  font-family: "Noto Sans HK";
}

#header-black ul li {
  display: inline;
  text-decoration: none;
  padding: 45px;
  padding-bottom: 10px;
  /* margin-right: 0.2rem; */
}
#header-black ul li img {
  width: 20px;
  padding-right: 7px;
  background: url("img_navsprites.gif")-91px 0;
}
#header-yellow {
  font-family: "Noto Sans JP", sans-serif;
  background-color: #fdcb25;
  color: #000000;
  font-family: "helvetica neue";
  margin: 10px;
  float: right;
  position: absolute;
  width: 20%;
  top: -0.5em;
  height: -0.4em;
  left: 80%;
}
#header-yellow ul li {
  display: inline;
  padding: 5px;
}
#header-yellow ul li a {
  text-decoration: none;
  color: #000000;
}

/* header 2  part */
#header-white {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: white;
  text-align: auto;
  font-size: small;
  width: 100%;
  height: 65px;
}
#header-white ul li a {
  text-decoration: none;
  color: #000000;
}
#header-white form {
  float: right;
  padding-top: -0.5em;
  padding-right: 12rem;
}
#header-white ul li a:hover {
  background-color: #fdcb25;
  border: #fdcb25 18px solid;
}
#header-white ul li {
  display: inline;
  direction: none;
  padding: 30px;
  margin: 20px;
}
/* such button on header 2 part  */
#header-white button {
  background-color: #fdcb25;
  width: auto;
  height: 38px;
  padding: 10px;
  font-size: small;
  border: 0;
  border-style: solid;
  border-left: none;
}
#header-white input {
  width: 200px;
  height: 30.3px;
  padding-left: 35px;
}

/* main right part */
#main-right {
  background-color: white;
  width: 50%;
  height: 650px;
  width: 100px;
  float: left;
  padding-left: 20px;
  margin-right: auto;
}
#main-right img {
  margin-left: auto;
  width: 100%;
  background: url("img_navsprites.gif") 91px 0;
  height: 530px;
  padding: 20px;
  width: 540px;
}
.main-left-top {
  padding-top: 1px;
  line-height: 1em;
}

#main-left {
  font-family: "Assistant";
  /* font-family: "Exo 2", sans-serif;
  font-family: "Archivo Narrow", sans-serif; */
  background-color: white;
  width: 50%;
  float: right;
  height: 500px;
  margin-left: auto;
  margin-bottom: 0;
  margin-right: 15px;
}
.money {
  text-decoration: solid;
  font-size: 21px;
  padding: 0;
}
#main-left button {
  width: auto;
  height: auto;
  padding: 10px;
  font-size: small;
  border: thin rgb(109, 108, 108);
  border-style: solid;
  border-left: none;
  background-color: #000000;
  color: #fdcb25;
}
#main-left input {
  width: 50px;
  height: 30.9px;
  padding-right: -0.5em;
  text-align: center;
}
#main-bottom {
  font-family: "Karla", sans-serif;
  height: 450px;
  clear: both;
  background-color: whitesmoke;
  color: #000000;
}
#main-bottom h3 {
  text-align: center;
  padding-top: 35px;
}
#main-bottom p {
  text-align: right;
  padding-left: 10px;
}
#main-bottom img {
  width: 250px;
  padding-right: 80px;
  background: url("img_navsprites.gif")-91px 0;
  float: right;
  margin: 10px;
  margin-bottom: 10px;
}
#main-bottom button {
  background-color: #000000;
  color: #fdcb25;
  width: auto;
  height: auto;
  padding: 5px;
  margin-top: -0.5em;
  margin-left: 10px;
  font-size: small;
  border: none;
}
#main-bottom-left1 {
  width: 20%;
  float: left;
  padding-left: 12rem;
}
#main-bottom-left2 {
  width: 20%;
  float: left;
  padding: 5px;
}
#main-bottom-right1 {
  width: 20%;
  float: left;
  padding: 5px;
}
#main-bottom-right2 {
  width: 20%;
  float: left;
  padding: 5px;
}
#main-bottom div {
  text-align-last: left;
}
#footerB1 {
  width: 99.5%;
  float: left;
  height: 55px;
  border-style: dotted;
  background-color: #fdcb25;
  color: #000000;
  text-align: center;
  font-size: small;
  padding-top: 30px;
  padding-bottom: 2px;
  clear: both;
}
#footerB1 input {
  margin-left: 20px;
  background-color: #fdcb25;
  padding: 5px;
  width: 150px;
  border: thin rgb(109, 108, 108);
  border-style: solid;
  border-right: none;
}
#footerB1 button {
  background-color: #000000;
  color: #fdcb25;
  border: none;
  border: thin rgb(109, 108, 108);
  border-style: solid;
  padding: 5px;
  margin-top: 2px;
}
#footerB2 {
  font-family: "Coda", cursive;
  background-color: #3d3d3b;
  color: white;
  width: 100%;
  height: 340px;
  font-family: arial;
  font-size: smaller;
  clear: both;
}
#footerB2 a {
  text-decoration: none;
  font-size: small;
}
#footer-right {
  float: left;
  width: 25%;
  padding-left: 7rem;
  padding-top: 20px;
  text-align: left;
}
#footer-right h5 {
  color: gray;
}
.footer-right-item {
  font-size: 0.7rem;
  font-weight: bold;
}

#footer-right-center {
  text-align: center;
  float: left;
  padding: 10px;
}
.footer-list h5 {
  color: gray;
}
.footer-list {
  padding-left: 15rem;
  text-decoration: none;
  text-align: left;
  list-style: none;
}
.footer-list-item {
  text-decoration: none;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: bold;
}

#footer-left {
  float: right;
  width: 25%;
  padding-right: 60px;
  padding-top: 20px;
}
#footer-left h5 {
  color: gray;
}
.footer-left-item {
  font-size: 0.6rem;
  font-weight: bold;
}

#footer-left li img {
  margin-left: auto;
  width: 100%;
  border-radius: 50%;
  background: url("img_navsprites.gif") 91px 0;
  height: 25px;
  padding: 10px;
  width: 25px;
}
#footer-left li {
  display: inline;
  text-decoration: none;
}
#footer-end {
  height: 20px;
  padding-top: 300px;
  margin-right: 20px;
  text-align: center;
  font-size: small;
  color: beige;
}

/*phone*/
@media screen and (max-width: 320px) {
  body {
    width: 320px;
  }

  #main-right {
    width: 50%;
    height: 420px;
  }
  #main-right img {
    width: 48%;
    position: absolute;
    left: 0px;
    width: 50px;
    float: right;
    height: 270px;
    padding-right: 10px;
  }
  #main-left {
    width: 385px;
    position: absolute;
    right: 0px;
    width: 48%;
    height: 10px;
    float: right;
    font-size: small;
    padding-right: 0px;
    margin: -0.5em;
    clear: both;
  }
  #main-left p {
    width: 385px;
  }
  #main-bottom {
    height: 480px;
    width: 770px;
    padding: 1px;
    margin-top: 0;
    font-size: x-small;
  }
  #main-bottom img {
    width: 100px;
    float: left;
    padding-left: 0px;
  }
  .footer-list {
    float: center;
    padding: -0.5rem;
  }
  #footer-end {
    text-align: center;
    padding-right: 10rem;
  }
}

/* tablet */
@media screen and (max-width: 770px) {
  body {
    width: 100%;
    font-size: x-small;
  }
  #header-black {
    width: 770px;
    height: 50px;
    border: black solid thick;
    margin-left: 0;
    margin-right: 0;
  }
  #header-black ul li img {
    width: 15px;
    padding: -0.05em;
  }
  #header-yellow {
    border: #fdcb25 solid thick;
    margin-left: 0;
    margin-right: 0;
    position: absolute;
    top: 43px;
    left: -0.5em;
    width: 770px;
    height: auto;
  }
  #header-white {
    padding-top: 40px;
    padding-bottom: 5px;
    margin: 0;
    font-size: small;
    width: 770px;
    float: right;
  }
  #header-white form {
    float: right;
    padding-right: 1rem;
    padding-top: 10px;
  }
  #header-white ul li {
    display: inline;
    font-size: x-small;
    line-height: 3em;
    padding: 2rem;
  }
  #header-white input {
    padding-top: 2px;
    padding-bottom: 3px;
    height: 31px;
    width: 150px;
  }
  #header-white button {
    font-size: small;
  }
  #main-right {
    width: 50%;
    height: 420px;
  }
  #main-right img {
    width: 48%;
    position: absolute;
    left: 0px;
    width: 45%;
    float: left;
    height: 270px;
    padding-right: 10px;
  }
  #main-left {
    width: 385px;
    position: absolute;
    right: 0px;
    width: 48%;
    height: 10px;
    float: right;
    font-size: small;
    padding-right: 0px;
    margin: -0.5em;
    clear: both;
  }
  #main-left p {
    width: 385px;
  }
  #main-bottom {
    height: 480px;
    width: 770px;
    padding: 1px;
    margin-top: 0;
    font-size: x-small;
  }
  #main-bottom img {
    width: 100px;
    float: left;
    padding-left: 0px;
  }
  #footerB1 {
    width: 770px;
    height: 0.05%;
    margin: 0;
    padding: 0;
    font-size: x-small;
  }
  #footerB1 button {
    font-size: x-small;
  }
  #footerB1 input {
    width: 99px;
    height: 10px;
  }
  #footerB2 {
    width: 770px;
    height: 310px;
    font-size: small;
    list-style: none;
    clear: both;
  }
  #footer-right {
    padding-left: 4rem;
  }
  #footer-right-center {
    float: center;
    padding-top: 25px;
    text-align: center;
  }
  .footer-list {
    margin-bottom: -0.5em;
    float: center;
    padding-left: 50px;
    line-height: 0.9em;
    text-align: left;
  }
  #footer-left {
    float: right;
    padding-left: 10px;
  }

  #footer-left img {
    float: right;
    padding-right: 2rem;
  }
  #footer-end {
    text-align: center;
    padding-bottom: 10px;
    padding-top: 15rem;
  }
}

/*@media screen and (min-width: 770px) {
  body {
    width: 770px;
  }
}*/
